
*{
    box-sizing: border-box;
    text-decoration: none;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

div {
    margin: 30px 60px 30px 60px;
    padding: 60px;
    text-align: center;
}

.questions {
/*invisible until called*/
visibility: visible;

}

.score {
    visibility: visible;
}
    
div .questions {
    display: flex;
    flex-wrap: wrap;
}

.intro {
    visibility: visible;
}

.intro p {
    font-size: larger;
    font-weight: bold;
}

.intro button {
    background-color:rgb(8, 47, 60)
}

.questions button{
    background-color: rgb(8, 47, 60)
}



div .score
{   display: flex;
    flex-wrap: wrap;
}

.results {
    visibility: visible;
}

div .results {
    display: inline;
}
 
div h3 {
    color:darkcyan
}

div #score {
    
}

