
*{
    box-sizing: border-box;
    text-decoration: none;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

div {
    margin: 30px 60px 30px 60px;
    padding: 60px;
    text-align: center;
}

.questions {
/*invisible until called*/
visibility: visible;

}

div .quests {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.score {
    visibility: visible;
}
    
div .quests {
    display: flex;
    flex-wrap: wrap;
    
}

.quests {
    font-size: larger;
    font-weight: bold;
}
.intro {
    visibility: visible;
}

.intro p {
    font-size: larger;
    font-weight: bold;
}

button {
    outline: none;
    border: none;
    display: flex;
    flex-wrap: wrap;
    margin: 1px;
    padding: 10px 15px;
    font-size:large;
    color: whitesmoke;
    border-radius: 10px;
    position: relative;
    background: rgb(12, 89, 114);
    
    
}

button:hover {
    box-shadow: 0 3px rgb(51, 47, 47);
}

#startbtn {
}



div .score
{   display: flex;
    flex-wrap: wrap;
}

.results {
    visibility: visible;
}

div .results {
    display: inline;
}
 
div h3 {
    color:darkcyan
}

div #score {
    
}

